html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  /* color: #000000; */
}

body {
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #002a69;
  padding: 8px;
}

.nav-item a{
  text-decoration: none;
  display: block;
  color: #e2e2e2;
}

/* LOGIN */
.login-container {
  display: flex;
  align-items: center;  
  justify-content: flex-start;  /* Alinea a la izquierda */
  height: 100vh;
  padding-left: 50px;  /* Espacio desde la izquierda */
  background-color: #B5DBFF;  /* Fondo suave */
  overflow: hidden;  /* Oculta el desbordamiento */
}
/*FOLMULARIO DE LOGIN*/
.login-container form {
  border: 2px solid #ccc;       
  border-radius: 10px;          
  padding: 30px;                
  /*background-color: #ffffff;    /* Fondo blanco */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Sombra suave */
  width: 350px;                 /* Ancho fijo */
}

/* Estilo general para botones */
.login-container button {
  width: 100%;               /* Ocupa todo el ancho del formulario */
  padding: 10px 0;           /* Ajuste de altura */
  margin-top: 10px;          /* Espacio entre botones */
  background-color: #007bff; /* Azul de Bootstrap */
  color: #ffffff;            /* Texto blanco */
  border: none;              /* Sin borde */
  border-radius: 5px;        /* Bordes redondeados */
  font-size: 16px;           /* Tamaño de texto */
  font-weight: bold;         /* Texto en negrita */
  cursor: pointer;           /* Manito al pasar el mouse */
  text-align: center;        /* Centra el texto */
  transition: background-color 0.3s ease;
}

/* Efecto hover */
.login-container button:hover {
  background-color: #0056b3; /* Azul más oscuro */
}

/*service Container*/
.service-container {
  margin-top: 50px;  /* Espacio hacia arriba */
  display: flex;
  align-items: center;  
  justify-content: center;  /* Alinea a la izquierda */
  height: auto;
  padding-left: 50px;  /* Espacio desde la izquierda */
  /*background-color: #B5DBFF;  /* Fondo suave */
  overflow: hidden;  /* Oculta el desbordamiento */
}
/*FOLMULARIO DE CREAR SERVICIO*/
.service-container form {
  border: 2px solid #ccc;       
  border-radius: 10px;          
  padding: 30px;                
  background-color: #edeef0;    /* Fondo blanco */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Sombra suave */
  width: 350px;                 /* Ancho fijo */
}

.cont-1 {
  margin-top: 60px;  /* Espacio hacia arriba */
  width: 70%;
  height: 100px; /* Altura */
  background-color: #d1e0e0; /* Color para diferenciar */
  position: absolute;
  top: 10px; /* Pegado arriba */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; /* Detrás del contenedor 2 */
  border-radius: 10px;
}

.cont-2 {
  width: 95%;
  height: 75px; /* Altura */
  background-color: #ffffff;
  position: relative;
  top: 15px; /* Deja visible el contenedor 1 */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; /* Encima del contenedor 1 */
  display: flex; /* Flexbox para centrar contenido */
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cont-2 h1 {
  font-size: 32px; /* Tamaño de texto ajustado */
  font-weight: bold;
  color: #333;
  margin: 0;
}


