/* Contenido principal */
.main-content {
    margin-top: 30px; /* Ajusta según la altura de tu navbar */
}

/* .white-box {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: -50px;
    width: 90%;
    max-width: 1200px;
} */